body {
    background-color: #000000;
}

.main-cards {
    /* height: 100vh; */
    padding: 15px;
}

.principal {
    flex-flow: row-reverse;
}

.principal-sections {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secundary-sections {
    min-height: 100vh;
    padding: 30px 0;
}

.profile-card {
    background-color: transparent;
}

.name {
    font-size: 71px;
}

.sub-title {
    color: #777777;
}

.links {
    text-decoration: none;
    color: #fff;
}

.section-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title-section {
    font-size: -webkit-xxx-large;
}

.text-section {
    font-size: 18px;
    text-align: justify;
}

.icon-back-1 {
    position: fixed;
    bottom: -190px;
    right: -144px;
    transform: rotate(180deg);
}


.icon-back-2 {
    position: fixed;
    top: -190px;
    left: -144px;
    transform: rotate(180deg);
}

.item-study {
    padding-top: 20px;
}

.card-text {
    text-align: justify;
}

.card-portafolio {
    background-color: #d7d4d4;
}