body {
  background-color: #000000;
}

.navbar {
  min-height: 40px;
  background: #000 !important;
}

.navbar-toggler-icon {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  #menu-slidebar {
    display: none;
  }

  .name {
    font-size: 31px !important;
  }

  .links {
    font-size: 1vw !important;
  }

  .sub-title {
    font-size: 12px !important;
  }
  .title-section {
    font-size: xx-large !important;
  }
}

@media only screen and (max-width: 1024px) {
  .links {
    font-size: 12px !important;
  }

  .title-section {
    font-size: xx-large;
  }
}

.principal-title {
  display: flex;
}

/*
.principal-title div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: min-content;
}
*/

.principal-title .section-info {
  justify-content: center !important;
}

.main-cards {
  /* height: 100vh; */
  padding: 15px;
}

.principal {
  flex-flow: row-reverse;
}

.principal-sections {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secundary-sections {
  min-height: 100vh;
  padding: 30px 0 30px 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profile-card {
  background-color: transparent;
}

.container-profile-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 0;
}

.name {
  font-size: 4vw;
  color: rgb(255, 255, 255);
}

.sub-title {
  font-size: 2vw;
  color: rgba(255, 255, 255, 0.923);
}

.links {
  text-decoration: none;
  color: #fff;
}

.section-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title-section {
  font-size: 4vw;
}

.text-section {
  font-size: 18px;
  text-align: justify;
}

.icon-back-1 {
  position: fixed;
  bottom: -190px;
  right: -144px;
  transform: rotate(180deg);
}

.icon-back-2 {
  position: fixed;
  top: -190px;
  left: -144px;
  transform: rotate(180deg);
}

.item-study {
  padding-top: 20px;
}

.card-text {
  text-align: justify;
}

.card-portafolio {
  background-color: #d7d4d4;
}

.contact-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 34px;
}
